html {
    background: url("/images/login-bg.jpg") no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    margin: 20px;
}

.layui-form {
    border-radius: 10px;
    border: 2px solid gainsboro;
    margin-top: 130px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.title {
    font-size: xx-large;
    text-align: center;
    margin: 20px;
}

.layui-form-label {
    text-align: center;
}

.layui-btn {
    margin-bottom: 20px;
}

.layui-form-item {
    margin-left: 20px;
    margin-right: 10px;
}

.layui-form-pane .layui-form-label {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(220, 220, 220, 0.7);
}

.layui-form-pane .layui-input {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(250, 250, 250, 0.9);
}

.errorMsg{
    background-color: rgba(245, 165, 165, 0.5);
    border: 2px solid lightcoral;
    color: darkred;
    font-size: small;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 15px;
}