<!-- 尾部信息 -->
<footer th:fragment="footer">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <div class="layui-footer footer">
        <div class="layui-container">
            <p>© 2021 <a href="/" id="self">轻博客小站</a> WTFPL</p>
            <div class="site-union">
                <p class="site-union-desc">
                    <span>
                      感谢以下平台提供开发支持
                    </span>
                </p>
                <p>
                    <a href="https://spring.io/" target="_blank" rel="nofollow">
                        <img class="footer-img"
                             src="https://spring.io/images/spring-logo-9146a4d3298760c2e7e49595184e1975.svg"
                             alt="Spring">
                    </a>
                    <a href="https://www.layui.com/" target="_blank" rel="nofollow">
                        <img class="footer-img" src="/layui/logo.png" alt="layui">
                    </a>
                    <a href="https://mp.baomidou.com/" target="_blank" rel="nofollow">
                        <span class="site-name">Mybatis-Plus</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>