<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'编辑超级管理员 ' + username + ' 的信息'}"></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/super-edit-superadmin.css}">
    <script th:src="@{/layui/layui.js}"></script>
</head>
<header th:replace="header::header"></header>
<body class="layui-anim layui-anim-downbit">
<div class="layui-container">
    <blockquote class="layui-elem-quote"><b><i class="layui-icon layui-icon-edit"></i>&nbsp;<span
            th:text="${'编辑超级管理员 ' + username + ' 的信息'}"></span></b></blockquote>
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i>&nbsp;新用户名&nbsp;</label>
            <div class="layui-input-inline">
                <input type="text" name="newUsername" required placeholder="请输入新用户名" autocomplete="off"
                       class="layui-input username"
                       minlength="1" maxlength="20"
                       th:value="${username}"
                       oninput="usernameCheck(value)">
            </div>
            <div class="layui-form-mid layui-word-aux" id="tips"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-key"></i>&nbsp;原密码&nbsp;<span class="layui-badge-dot"></span></label>
            <div class="layui-input-inline">
                <input type="password" name="password" required placeholder="请输入原密码以验证身份" autocomplete="off"
                       class="layui-input password"
                       minlength="8" maxlength="20">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i>&nbsp;新密码&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <div class="layui-input-inline">
                <input type="password" name="newPassword" placeholder="请输入新密码" autocomplete="off"
                       class="layui-input password"
                       minlength="8" maxlength="20">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input class="layui-btn layui-btn-lg" id="submit-button" type="submit" value="马上修改">
            </div>
        </div>
    </form>
</div>
</body>
<footer th:replace="footer::footer"></footer>
</html>